@mixin flex-mother(
  $flexDirection: row,
  $alignItems: center,
  $justifyContent: center
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin media($media) {
  @media (max-width: $media) {
    @content;
  }
}

@mixin positioningElement(
  $position: absolute,
  $top: 0,
  $left: 0,
  $fromBottom: false
) {
  position: $position;
  left: $left;
  @if ($fromBottom) {
    bottom: $top;
  } @else {
    top: $top;
  }
}
