:root {
  --clr-primary-400: #fda214;
  --clr-primary-400-hover: #ffb84a;
  --clr-primary-300: #bcced9;
  --clr-primary-200: #304859;
  --clr-primary-100: #152938;
  --clr-neutral-400: #f2f2f2;
  --clr-neutral-300: #7191a5;
  --clr-neutral-200: #6395b8;
  --clr-neutral-100: #dfe7ec;
  --clr-universal-400: #fcfcfc;
}
