@use './../../../../style/abstracts/mixins' as *;
@use './../../../../style/abstracts/placeholders' as *;

.menu {
  @extend %container;
  &__list {
    @include flex-mother(column, center, center);
    gap: 1rem;
    list-style-type: none;
  }
  &__item {
    @include flex-mother();
    text-align: center;
    width: 100%;
  }
}
