@use './../../../style/abstracts/mixins' as *;

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  &--settings {
    flex-grow: 1;
    padding: 1rem 1.75rem;
    background-color: var(--clr-primary-300);
    color: var(--clr-universal-400);
    border-radius: 10rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s;
    &:hover {
      background-color: var(--clr-neutral-300);
    }
    @include media(28.125rem) {
      padding: 0.75rem 1.5rem;
    }
  }
  &--active {
    background-color: var(--clr-primary-200);
    &:hover {
      background-color: var(--clr-primary-200);
    }
  }

  &--primary {
    background-color: var(--clr-primary-400);
    &:hover {
      background-color: var(--clr-primary-400-hover);
    }
  }

  &--card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--clr-primary-200);
    transition: 0.3s;
    &:hover {
      background-color: var(--clr-neutral-300);
    }
  }

  &--show {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}
